.container {
  position: relative;
  width: 100%;
  height: 5px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  
  .progressBarDot {
    background: var(--progress-bar-dot-background);
    width: 15px;
    min-width: 15px;
    height: 15px;
    transform: scale(.8);
    margin-top: -5px;
    opacity: 0;
    position: relative;
    margin-left: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  }

  &:hover {
    .progressBarDot {
      opacity: 1;
      transform: scale(1);
    }
  }

  .progressBarDot.isMobile::after {
    content: ' ';
    position: absolute;
    width: 35px;
    height: 35px;
    transform: translate(-18%, -18%);
  }
}
